[submodule "code-server"]
	path = code-server
	url = https://github.com/coder/code-server
    ignore = dirty
[submodule "node-src"]
	path = node-src
	url = https://github.com/nodejs/node
    ignore = dirty
